.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.section {
    width: 420px;
    border-radius: 3%;
    padding: 40px 20px 50px 50px;
    background-color: rgb(249, 244, 237);

  }
  
  .row{
    width: auto;
  }

  .form-field{
    width: 90%;
  }

  .btn{
    text-align: center;
    width: 90%;
    margin-bottom: 15px;
  }

  .btn button{
    width: 100%;
  }

  .forgot-password {
    margin-bottom: 15px;
  }

  .forgot-password a{
    color: black;
    font-weight: 500;
  }

  .sign-up a {
    color: black;
    font-weight: 500;
  }
  